*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(58, 90, 95);
    
}
.flex{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.inputlenth{
    width: 250px;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(1, 52, 59, 0.3);
    margin-top: 10px;

}
.form_body{
    width: 600px;
    height: auto;
    background-color: darkgrey;
    text-align: center;
    margin: auto ;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin-top: 20px;
}

::placeholder{
    font-size: 12px;
    color: rgb(72, 111, 117);
     
}
.courses input,.gender input{
    margin-top: 20px;

}

h3{
    font-size: xx-large;
    color:whitesmoke;
    text-shadow: 2px 2px 10px black;
    padding: 30px;
}
label{
    font-size: xlarge;
    color:whitesmoke;
}
input{
    border: 0px;
    box-shadow: 2px 2px 10px black;
    color: black;
    margin-right: 15px;

}
.butt input{
    width: 300px;
    height: 30px;
    /* margin-top: 50px; */
    display: block;
    margin-left: 50%;
    margin-bottom: 10px;
    background-color: rgba(1, 52, 59, 0.3);


}
.butt input:hover{
    background-color: transparent;
    color: white;
}
